.nav-bar{
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
   
}

ul{
    display: flex; 
    gap: 10px;
}

ul li{
    list-style: none;
}

button{
    background-color: brown;
    width: 90px;
    padding: 10px;
    border-radius: 10px;
    font-weight: 500;
    font-size: large;
}